<div class="container">
    <div class="table-title m-5">
      <h2>Liste de post</h2>
    </div>

    <table class="table  table-hover table-bordered" id="tableau">
      <thead>
        <tr class="table-success">
          <th>#</th>
          <th>Titre de post</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="tBody" *ngFor="let post of postArray; let i = index">
          <th>{{i+1}}</th>
          <th>{{post.titre}}</th>
          <th>
            <button type="button" (click)="delete(i)" class="btn btn-danger">Supprimer</button>
            <button type="button" (click)="updatePost()" class="btn btn-success">Update</button>
          </th>
    </table>
    <button type="button" (click)="addPost()" class="btn btn-primary">Add Post</button>
  </div>